<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>SQL Tools</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
<script src="/js/bootstrap.min.js"></script>
<div class="container">
    <div class="row">
        <div class="span12">
            <form method="post">
                <fieldset>
                    <legend>Enter a SQL query below</legend>
                    <div class="control-group">
                        <div class="controls">
                            <textarea class="input-xxlarge" rows="7" name="text">{{text|safe}}</textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn" name="action" value="up">Upper it!</button>
                            <button type="submit" class="btn" name="action" value="low">Lower it!</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
</body>
</html>