<!DOCTYPE HTML>
<html lang="en">
<head>
    <title>UDACITY CS253: Unit2 ROT13</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
</head>
<body>
    <script src="/js/bootstrap.min.js"></script>
    <div class="container">
        <div class="row">
            <div class="span12">
                <form method="post">
                    <fieldset>
                        <legend>Enter a text below for ROT13 transform:</legend>
                        <div class="control-group">
                            <div class="controls">
                                <textarea class="input-xxlarge" rows="7" name="text">{{text|safe}}</textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <button type="submit" class="btn">Convert</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>